$bg-header: whitesmoke;
$bg-headerContactos: #c9b5ee;
$bg-headerNovedades-1:darkcyan;
$bg-headerNovedades-2: blueviolet;
$bg-articulosServicios: rgb(217, 231, 235);
$bg-cardServicios: rgba(77, 46, 46, 0.052);
$bg-auditoria: rgb(194, 167, 219);
$bg-impuestos: rgb(173, 122, 221);
$bg-sociedades:rgb(128, 216, 110);
$bg-balances:rgb(84, 201, 146);
$bg-botonNovedades: rgb(230, 201, 173);
