.formularioContacto{
    @include flex(row,none,center);
    padding: 20px;
    form{
        padding: .3125rem;
        display: flex;
        flex-direction: row;
        align-items: end;
        }
}

