.navbar{ 
    ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    }

    li{
         a{
            text-decoration: none;    
            color: blue;   
            transition: text-decoration 1s, color 2s;
            }
    }

    ul{ 
        li{
            a:hover{
            color:black;
            text-decoration: underline;
                    }
        }
    }
}